@{

    ViewBag.Title = "Index";
}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    @*<div class="toolbar" id="kt_toolbar">
            <!--begin::Container-->
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <!--begin::Page title-->
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <!--begin::Title-->
                    <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Light Skin</h1>
                    <!--end::Title-->
                    <!--begin::Separator-->
                    <span class="h-20px border-gray-300 border-start mx-4"></span>
                    <!--end::Separator-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">
                            <a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Home</a>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-300 w-5px h-2px"></span>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">Aside</li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-300 w-5px h-2px"></span>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-dark">Light Skin</li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
                <!--begin::Actions-->
                <!--end::Actions-->
            </div>
            <!--end::Container-->
        </div>*@
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div id="appRegistroUsuarioAdmin">

        <div class="post d-flex flex-column-fluid" id="kt_post">
            <!--begin::Container-->
            <div id="kt_content_container" class="container-xxl">

                <button type="button" class="btn btn-primary" v-on:click="nuevo_reciclaje()">
                    Nuevo Reciclaje
                </button>

                <button type="button" class="btn btn-warning offset-9" v-on:click="canjear_puntos()">
                    Canjear Puntos
                </button>
                @*//---------------------------------*@
                <div class="row g-5">

                    @*//---------------------------------*@
                    <div class="col-lg-12 col-md-12">
                        <div class="card card-header-stretch card-bordered mb-5">
                            <div class="card-header border-top p-9">
                                <div class="card-title m-0">
                                    <h3 class="fw-bolder m-0">Datos Personales</h3>
                                </div>
                                <h3 class="fw-bolder m-0">Puntos Disponibles: {{puntaje_reciclaje}}</h3>
                                @*<div class="col-md-6 fv-row fv-plugins-icon-container">
                                        <label class="required fs-6 fw-bold mb-2">
                                            N°Serie
                                        </label>

                                        <input id="cantidad"
                                               type="text"
                                               name="cantidad"
                                               v-model="cantidad"
                                               v-bind:class="{'is-invalid': errors.has('formdatosreciclaje.cantidad')}"
                                               class="form-control form-control-solid">
                                    </div>*@
                            </div>
                            <div class="card-body border-top p-9">
                                @*<<-------->*@
                                <table id="tabla_cliente_responsivos_reciclaje" class="table table-striped border rounded gy-5 gs-7">
                                    <thead>
                                        <tr class="fw-bolder fs-6 text-gray-800 px-7">
                                            <th data-priority="1">ID</th>
                                            <th data-priority="2">Fecha Ingreso Reciclaje</th>
                                            <th data-priority="5">Cantidad</th>
                                            <th data-priority="3">Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(listas, index) in ListarReciclajeUsuario" :key="listas.codigo_registro_reciclaje">
                                            <th>{{index + 1}}</th>
                                            <td>{{listas.fecha_creacion_registro}}</td>
                                            <td>{{listas.cantidad_agrupado}}</td>
                                            @*<td v-if="listas.habilitado ==1"><span class="badge badge-light-primary fw-bold">Habilitado</span></td>
                                                <td v-else="listas.habilitado ==0"><span class="badge badge-light-danger fw-bold">Deshabilitado</span></td>*@
                                            <td name="bstable-actions">
                                                <div class="btn-list">
                                                    <button id="btn_editar_cliente" type="button" class="btn btn-sm btn-success" v-on:click="cargar_datos_cliente_reciclaje(listas.codigo_registro_reciclaje)">
                                                        <span class="fas fa-eye fs-4 me-0"> </span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                @*<<-------->*@

                            </div>
                        </div>
                    </div>

                </div>
                @*//---------------------------------*@
                @*<div tabindex="-1" id="modalformularioproducto" class="modal fade show" aria-modal="true" role="dialog" style="display: block;">*@
                <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="modalformularioreciclaje">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{titulo_producto_modal}}</h5>

                                <!--begin::Close-->
                                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                    <span class="svg-icon svg-icon-2x"></span>
                                </div>
                                <!--end::Close-->
                            </div>

                            <div class="modal-body">
                                <button type="button" class="btn btn-primary" v-on:click="agregar_datos_cliente()">
                                    Agregar Producto Reciclaje
                                </button>
                            </div>
                            <div class="row g-5">
                                @*//---------------------------------*@
                                <div class="col-lg-12 col-md-12">
                                    <div class="card card-header-stretch card-bordered mb-5">
                                        <div class="card-header border-top p-9">
                                            <div class="card-title m-0">
                                                <h3 class="fw-bolder m-0">Datos Personales</h3>
                                            </div>
                                        </div>
                                        <div class="card-body border-top p-9">
                                            <form class="needs-validation" data-vv-scope="formdatosreciclajeprocesar">
                                                <div class="row mb-12">
                                                    <div class="col-md-6 fv-row fv-plugins-icon-container">
                                                        <label class="required fs-6 fw-bold mb-2">Usuario</label>

                                                        <input id="usuario"
                                                               type="text"
                                                               name="usuario"
                                                               placeholder="ingrese usuario"
                                                               v-model="usuario.nombre +' '+ usuario.apellido"
                                                               :disabled="true"
                                                               v-validate="'required|max:50'"
                                                               v-bind:class="{'is-invalid': errors.has('formdatosreciclajeprocesar.usuario')}"
                                                               class="form-control form-control-solid">
                                                        <span v-show="errors.has('formdatosreciclajeprocesar.usuario')" class="fv-plugins-message-container invalid-feedback">{{ errors.first('formdatosreciclajeprocesar.usuario') }}</span>
                                                    </div>
                                                </div>
                                                @*<<-------->*@
                                                <table id="tabla_cliente_responsivo" class="table table-striped border rounded gy-5 gs-7">
                                                    <thead>
                                                        <tr class="fw-bolder fs-6 text-gray-800 px-7">
                                                            <th data-priority="1">ID</th>
                                                            <th data-priority="2">Categoria</th>
                                                            <th data-priority="4">Producto</th>
                                                            <th data-priority="5">Cantidad</th>
                                                            <th data-priority="3">Accion</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(item, index) in registro_detalle_gestion" :key="index">
                                                            <th>{{index + 1}}</th>
                                                            <td>{{item.descripcion_categoria}}</td>
                                                            <td>{{item.descripcion_producto}}</td>
                                                            <td>{{item.cantidad}}</td>

                                                            @*<td v-if="listas.habilitado ==1"><span class="badge badge-light-primary fw-bold">Habilitado</span></td>
                                                                <td v-else="listas.habilitado ==0"><span class="badge badge-light-danger fw-bold">Deshabilitado</span></td>*@
                                                            <td name="bstable-actions">
                                                                <div class="btn-list">
                                                                    <button id="btn_editar_cliente" type="button" class="btn btn-sm btn-primary" v-on:click="obtener_datos_cliente(item, index)">
                                                                        <span class="fas fa-user-edit fs-4 me-0"> </span>
                                                                    </button>
                                                                    <button id="btn_eliminar_cliente" type="button" class="btn  btn-sm btn-danger" v-on:click="eliminar_datos_cliente(index)">
                                                                        <span class="fas fa-user-times fs-4 me-0"> </span>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                @*<<-------->*@
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal" v-on:click="limpiar_campos()">Cerrar</button>
                                <button type="submit" v-if="registro_detalle_gestion.length!=0" v-on:click.prevent="grabar_formulario_reciclaje" class="btn btn-primary">Procesar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="modalformulariodatosreciclajetemp">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{titulo_producto_modal}}</h5>

                                <!--begin::Close-->
                                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                    <span class="svg-icon svg-icon-2x"></span>
                                </div>
                                <!--end::Close-->
                            </div>

                            <div class="modal-body">
                                <form class="needs-validation" data-vv-scope="formdatosreciclajetemp">
                                    @*<<-------->*@
                                    <div class="row mb-12">
                                        <div class="col-md-12 fv-row fv-plugins-icon-container">
                                            <label class="required fs-6 fw-bold mb-2">Categoria</label>

                                            <select id="categoria"
                                                    name="categoria"
                                                    v-model="categoria"
                                                    v-validate="'required'"
                                                    v-on:change="listar_Productos_Categorias(categoria)"
                                                    v-bind:class="{'is-invalid': errors.has('formdatosreciclajetemp.categoria')}"
                                                    class="form-select form-select-solid fw-bolder">
                                                <option value="">--- Seleccionar ---</option>
                                                <option v-for="opcion in listarCategorias" :value="opcion.codigo_categoria">{{opcion.descripcion_categoria}}</option>
                                            </select>

                                            <span v-show="errors.has('formdatosreciclajetemp.categoria')" class="fv-plugins-message-container invalid-feedback">{{ errors.first('formdatosreciclajetemp.categoria') }}</span>
                                        </div>
                                    </div>
                                    <div class="row mb-12">
                                        <div class="col-md-12 fv-row fv-plugins-icon-container">
                                            <label class="required fs-6 fw-bold mb-2">Producto</label>

                                            <select id="producto"
                                                    name="producto"
                                                    v-model="producto"
                                                    v-validate="'required'"
                                                    v-bind:disabled="bloquar_campo"
                                                    v-bind:class="{'is-invalid': errors.has('formdatosreciclajetemp.producto')}"
                                                    class="form-select form-select-solid fw-bolder">
                                                <option value="">--- Seleccionar ---</option>
                                                <option v-for="opcion in listarProductos" :value="opcion.codigo_producto">{{opcion.descripcion_producto}}</option>
                                            </select>

                                            <span v-show="errors.has('formdatosreciclajetemp.producto')" class="fv-plugins-message-container invalid-feedback">{{ errors.first('formdatosreciclajetemp.producto') }}</span>
                                        </div>
                                    </div>
                                    @*<<-------->*@
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal" v-on:click="limpiar_campos()">Cerrar</button>
                                <button type="submit" v-if="indexcodigo_registro_detalle===''" v-on:click.prevent="insertar_actualizar_formulario_reciclaje_temp" class="btn btn-primary">Guardar</button>
                                <button type="submit" v-else class="btn btn-danger" v-on:click.prevent="insertar_actualizar_formulario_reciclaje_temp">Actualizar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            @*<<---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->*@

            <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="modalformularioreciclajeprocesado">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{titulo_detalle_reciclaje_modal}}</h5>

                            <!--begin::Close-->
                            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                <span class="svg-icon svg-icon-2x"></span>
                            </div>
                            <!--end::Close-->
                        </div>
                        <div class="row g-5">
                            @*//---------------------------------*@
                            <div class="col-lg-12 col-md-12">
                                <div class="card card-header-stretch card-bordered mb-5">
                                    @*<div class="card-header border-top p-9">
                                            <div class="card-title m-0">
                                                <h3 class="fw-bolder m-0">Descuento</h3>
                                            </div>
                                        </div>*@
                                    <div class="card-body border-top p-9">
                                        <form class="needs-validation" data-vv-scope="formdatosreciclajeprocesar">
                                            <div class="row mb-12">
                                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                                    <label class="required fs-6 fw-bold mb-2">Usuario</label>

                                                    <input id="usuario"
                                                           type="text"
                                                           name="usuario"
                                                           placeholder="ingrese usuario"
                                                           v-model="usuario.nombre +' '+ usuario.apellido"
                                                           :disabled="true"
                                                           v-validate="'required|max:50'"
                                                           v-bind:class="{'is-invalid': errors.has('formdatosreciclajeprocesar.usuario')}"
                                                           class="form-control form-control-solid">
                                                    <span v-show="errors.has('formdatosreciclajeprocesar.usuario')" class="fv-plugins-message-container invalid-feedback">{{ errors.first('formdatosreciclajeprocesar.usuario') }}</span>
                                                </div>
                                            </div>
                                            @*<<-------->*@
                                            <table id="tabla_cliente_responsivo" class="table table-striped border rounded gy-5 gs-7">
                                                <thead>
                                                    <tr class="fw-bolder fs-6 text-gray-800 px-7">
                                                        <th data-priority="1">#</th>
                                                        <th data-priority="1">Codigo Interno</th>
                                                        <th data-priority="2">Categoria</th>
                                                        <th data-priority="4">Producto</th>
                                                        <th data-priority="5">Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in registro_detalle_gestion_vista" :key="index">
                                                        <th>{{index + 1}}</th>
                                                        <td>{{item.codigo_registro_reciclaje_detalle}}</td>
                                                        <td>{{item.descripcion_categoria}}</td>
                                                        <td>{{item.descripcion_producto}}</td>
                                                        <td>{{item.cantidad}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            @*<<-------->*@
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal" v-on:click="limpiar_campos()">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Container-->
            @*<<---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->*@

            <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="modalformulariocanjepuntos">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{titulo_producto_modal}}</h5>

                            <!--begin::Close-->
                            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                <span class="svg-icon svg-icon-2x"></span>
                            </div>
                            <!--end::Close-->
                        </div>

                        <div class="row g-5">
                            @*//---------------------------------*@
                            <div class="col-lg-12 col-md-12">
                                <div class="card card-header-stretch card-bordered mb-5">
                                    <div class="card-header border-top p-9">
                                        <div class="card-title m-0">
                                            <h3 class="fw-bolder m-0">Datos Personales</h3>
                                        </div>
                                    </div>
                                    <div class="card-body border-top p-9">
                                        <form class="needs-validation" data-vv-scope="formdatosreciclajeempresadescuento">
                                            <div class="row mb-12">
                                                <div class="col-md-12 fv-row fv-plugins-icon-container">
                                                    <label class="required fs-6 fw-bold mb-2">Descuento</label>

                                                    <select id="EmpresaDescuentoReciclajeCantidad"
                                                            name="EmpresaDescuentoReciclajeCantidad"
                                                            v-model="EmpresaDescuentoReciclajeCantidad"
                                                            v-validate="'required'"
                                                            v-bind:class="{'is-invalid': errors.has('formdatosreciclajeempresadescuento.EmpresaDescuentoReciclajeCantidad')}"
                                                            class="form-select form-select-solid fw-bolder">
                                                        <option value="">--- Seleccionar ---</option>
                                                        <option v-for="opcion in listarEmpresaDescuentoReciclajeCantidad" :value="opcion">{{opcion.descripcion_empresa_descuento}}</option>
                                                    </select>

                                                    <span v-show="errors.has('formdatosreciclajeempresadescuento.EmpresaDescuentoReciclajeCantidad')" class="fv-plugins-message-container invalid-feedback">{{ errors.first('formdatosreciclajeempresadescuento.EmpresaDescuentoReciclajeCantidad') }}</span>
                                                </div>
                                            </div>
                                            @*<<-------->*@

                                            @*<<-------->*@
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal" v-on:click="limpiar_campos_puntos_cajeados()">Cerrar</button>
                            <button type="submit" v-on:click.prevent="grabar_puntos_cajeados_reciclaje" class="btn btn-primary">Canjear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--end::Post-->
        <!--begin::Toast-->
        <div id="kt_docs_toast_stack_container" class="toast-container position-fixed top-0 end-0 p-3 z-index-9999" style="z-index: 9999">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-kt-docs-toast="stack">
                <div class="toast-header text-white" :class="estilo_titulo">
                    <span class="svg-icon svg-icon-2 svg-icon-primary me-3">...</span>
                    <strong class="me-auto">{{texto_titulo}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">X</button>
                </div>
                <div class="toast-body" :class="estilo_texto">{{texto_mensaje}}</div>
            </div>
        </div>
        <!--end::Toast-->
    </div>
</div>


@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
    <script src="~/VueJS/Modulos/Reciclaje.js"></script>
}

